.posts {
    padding-bottom: 60px;
        .posts-add {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 30px;

            .posts-add-form {
                padding: 10px 5px;
                border-style: solid;
                border-width: 1px;
                border-color: #dadada;
                border-radius: 12px;
                width: 40vw;
                height: 4vh;
                overflow: visible;
                outline: none;
                //resize: none;
                margin-right: 20px;
            }

            .posts-add-button-block {
                display: flex;
                flex-direction: column;
                .posts-add-button {
                    padding: 5px 25px;
                    margin-bottom: 12px;
                    border-radius: 24px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: #dadada;
                    cursor: pointer;
                    outline: none;
                    transition: color 600ms ease-out;
                    &:hover {
                        color: aqua;
                    }
                    &:active {
                        background-color: #dadada;
                        outline-style: solid;
                        outline-color: #3c3d42;

                    }
                }
            }
        }
    }