.content-slider-wrapper {
    position: relative;
    background-color: #000;
    opacity: 1;
    $h1-size: 32px;
    $h2-size: 18px;
    $p-size: 14px;
    $p-size-large: 16px;
    $a-size: 10px;
    $a-size-large: 14px;

    .content-slider {
      position: relative;
      border: none;
      width: 100%;
      height: 100%;
      transition: opacity 600ms ease-in;

      &:hover {
        opacity: 0.87;
      }

      .content-slider-image {
        display: block;
        opacity: 1;
        max-width: 100%;
        height: auto;
        border: none;
      }

      .content-slider-container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        z-index: 999;
        min-width: 20%;
        max-width: 30%;
        top: 10%;
        left: 20%;
        padding: 10px 20px;

        h1 {
          display: inline-block;
          font-size: 36px;
          color: #fff;
        }

        h2 {
          display: inline-block;
          font-size: $h2-size;
          color: #fff;
        }

        p {
          display: inline-block;
          font-size: $p-size;
          color: #fff;
          padding-top: 25px;
          padding-bottom: 25px;
        }

        .content-slider-container-download-button {
          padding-top: 25px;
          border-style: solid;
          border-color: #dadada;
          border-radius: 48px;
          background-color: transparent;
          font-size: 20px;
          text-transform: uppercase;
          padding: 10px 30px;
          &:active {
            border-color: aquamarine;
          }
          a {
            color: #fff;
            transition: color 600ms ease-in-out;
            &:hover {
              color: aquamarine;
            }
          }
        }
      }
    }
  }