.App {
  h1,
  h2,
  h3,
  h4,
  a,
  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-width: 1200px;
  $h1-size: 32px;
  $h2-size: 18px;
  $p-size: 14px;
  $p-size-large: 16px;
  $a-size: 10px;
  $a-size-large: 14px;
  .wrapper {
    min-width: 1200px;
    max-width: 1920px;
    .header {
      background-color: #ffffff;
      border-style: solid;
      border-width: 1px;
      border-color: #dadada;
      display: flex;
      justify-content: center;

      .header-wrapper {
        min-width: 900px;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 0;
        justify-content: space-between;

        .header-leftbar {
          display: flex;
          flex-direction: row;
          align-items: center;

          .header-leftbar-sitetitle {
            a {
              font-size: 32px;
              text-decoration: none;
              color: #3c3d42;
              font-size: 36px;
              font-style: bold;
            }
          }
          .header-leftbar-menu {
            display: flex;
            flex-direction: row;
            padding: 0 30px;

            .header-leftbar-menu-item {
              padding: 0 10px;
              font-size: 10px;
              a {
                text-decoration: none;
                color: #3c3d42;
                font-size: 18px;
                font-style: bold;
              }
            }
          }
        }

        .header-rightbar {
          display: flex;
          flex-direction: row;
          align-items: center;
          .header-rightbar-email {
            img {
              margin: 0;
              padding: 0;
            }

            a {
              text-decoration: none;
              color: #000;
              font-size: $p-size;
              margin: 0;
              padding: 0;
            }
          }

          .header-rightbar-phonenumber {
            padding-left: 15px;
            img {
              margin: 0;
              padding: 0;
            }

            p {
              font-size: $p-size;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;

      .content-slider-wrapper {
        position: relative;
        background-color: #000;
        opacity: 1;

        .content-slider {
          position: relative;
          border: none;
          width: 100%;
          height: 100%;
          transition: opacity 600ms ease-in;

          &:hover {
            opacity: 0.87;
          }

          .content-slider-image {
            display: block;
            opacity: 1;
            max-width: 100%;
            height: auto;
            border: none;
          }

          .content-slider-container {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            position: absolute;
            z-index: 999;
            min-width: 20%;
            max-width: 30%;
            top: 10%;
            left: 20%;
            padding: 10px 20px;

            h1 {
              display: inline-block;
              font-size: 36px;
              color: #fff;
            }

            h2 {
              display: inline-block;
              font-size: $h2-size;
              color: #fff;
            }

            p {
              display: inline-block;
              font-size: $p-size;
              color: #fff;
              padding-top: 25px;
              padding-bottom: 25px;
            }

            .content-slider-container-download-button {
              padding-top: 25px;
              border-style: solid;
              border-color: #dadada;
              border-radius: 48px;
              background-color: transparent;
              font-size: 20px;
              text-transform: uppercase;
              padding: 10px 30px;
              &:active {
                border-color: aquamarine;
              }
              a {
                color: #fff;
                transition: color 600ms ease-in-out;
                &:hover {
                  color: aquamarine;
                }
              }
            }
          }
        }
      }

      .content-feature-wrapper {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        .content-feature-description {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-content: space-between;
          padding-top: 35px;
          padding-bottom: 65px;

          h1 {
            font-size: $h1-size;
            color: #000;
          }

          p {
            padding-top: 15px;
            max-width: 35%;
            font-size: $p-size-large;
            color: #000;
          }
        }
        .content-feature-block {
          display: flex;
          flex-direction: row;
          // border: solid 2px #dadada;
          .content-feature-block-menu {
            min-width: 20%;
            display: flex;
            flex-direction: column;
            border-right: solid 1px #dadada;
            .content-feature-block-menu-item {
              display: flex;
              flex-direction: row;
              align-items: center;
              padding: 30px 15px;
              img {
                padding-right: 20px;
              }
              div {
                font-size: $p-size-large;
                font-weight: bolder;
              }
            }
          }

          .content-feature-block-view {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-items: center;
            min-width: 80%;

            img {
              // fix fixed values;
              height: 200px;
              width: 200px;
            }
            p {
              padding: 30px 15px;
              font-size: $p-size-large;
            }
          }
        }
      }
    }
  }
}
